<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Track Map - F1 Tracks and Stats</title>
  <link rel="stylesheet" href="/static/format.css">
</head>
<body>

<header>
  <a href="/" class="home-button"><img src="/static/images/headerlogo.png" alt="Logo">Home</a>
  <h1>F1 Tracks and Stats</h1>
  {% if g.username %}
    <div class="user">
      <span>{{ g.username }}</span>
      <a href="/logout" class="logout-button"><img src="/static/images/user.png" alt="User image"></a>
    </div>
  {% else %}
    <a href="/login" class="login-button"><img src="/static/images/login-button.svg" alt="Login">Login</a>
  {% endif %}
</header>

<div class="track-map">
  <img src="/static/images/annotated-layouts/annotated-bahrain.avif" alt="Bahrain track">
  <div class="track-map-caption">
    <img src="/static/images/flags/Flag_of_Bahrain.png" alt="Bahrain Flag">
    <span>Bahrain Track Map</span>
  </div>
</div>

<div class="container">
  <div class="content">
    <h2>About the Track</h2>
    <p>The Bahrain International Circuit is a 5.412 km (3.363 mi) motorsport venue inaugurated in 2004. It hosts drag racing, GP2 Series (now FIA Formula 2), and the annual Formula One Bahrain Grand Prix, the first Grand Prix in the Middle East held in 2004. From 2006, Australian V8 Supercars raced there, known as the Desert 400, but they didn't return for the 2011 season. The BIC also hosts 24-hour endurance races and has multiple layouts. It holds a FIA Grade 1 license.</p>
    <p>The construction of the Bahrain circuit was a national objective for Bahrain, initiated by the Crown Prince, Shaikh Salman bin Hamad Al Khalifa. The Crown Prince is the Honorary President of the Bahrain Motor Federation. TRL was asked to build the circuit, headed by Patrick Brogan.</p>
    <p>Race organizers were worried that the circuit would not be complete in time for the 2004 Bahrain Grand Prix and attempted to cancel the event; however, Formula One supremo Bernie Ecclestone refused this request. In the end, the circuit was not quite fully complete, but was good enough for the grand prix to go ahead.</p>
  </div>
  <div class="content">
    <h2>Track info</h2>
    <p>Capacity	70,000</p>
    <p>Opened	17 March 2004; 20 years ago</p>
    <p>Architect	Hermann Tilke</p>
    <p>Length	5.412 km (3.363 miles)</p>
    <p>Turns	15</p>
  </div>
  <div class="content">
    <h2>Lap records</h2>
    <p>F1	Spain Pedro de la Rosa	McLaren MP4-20	1:31.447	2005 Bahrain Grand Prix	3 April 2005</p>
    <p>LMP1	Brazil Lucas di Grassi	Audi R18	1:41.511	2016 6 Hours of Bahrain	19 November 2016</p>
    <p>GP2	Belgium Stoffel Vandoorne	Dallara GP2/11	1:43.166	2015 2nd Sakhir GP2 round	20 November 2015</p>
    <p>GP2 Asia	Japan Kamui Kobayashi	Dallara GP2/05	1:43.604	2009 Bahrain 1st GP2 Asia Series round	23 January 2009</p>
    <p>FIA F2	Belgium Amaury Cordeel	Dallara F2 2018	1:43.848	2022 Sakhir Formula 2 round	19 March 2022</p>
  </div>
  </div>

  <div class="sidebar">
    <h3>Top 5 Drivers</h3>
    <ul class="top-drivers">
      <li>Driver 1</li>
      <li>Driver 2</li>
      <li>Driver 3</li>
      <li>Driver 4</li>
      <li>Driver 5</li>
    </ul>
</div>

  <script src="/static/scripts/bahrain.js"></script>
  
</body>
</html>

