<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>F1 Tracks and Stats</title>
  <link rel="stylesheet" href="/static/format.css">
</head>
<body>

<header>
  <img src="/static/images/headerlogo.jpg" alt="Logo">
  <h1>F1 Tracks and Stats</h1>
  <button class="login-button">Login</button>
</header>

<div class="container">
  <a href="/tracks/saudi-arabia.html" class="box">
    <img src="/static/images/tracks/Placeholder.png" alt="Saudi Arabia track">
    <div class="box-content">
      <img src="/static/images/flags/Flag_of_Saudi_Arabia.png" alt="Saudi Arabia Flag">
      <span class="country">Saudi Arabia</span>
      <span class="date">9th March</span>
    </div>
  </a>
  <!-- Repeat these box elements for all 24 tracks -->
</div>

</body>
</html>
