* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #c5c5d3;
}

header {
  background-color: #445566;
  background: linear-gradient(135deg, #526375, #2c4054);
  border-bottom: 2px solid #2c3868;
  color: #fff;
  padding: 20px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img {
  width: 100px;
}

.home-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  text-decoration: none;
  font-size: 30px;
  color: white;
}

.home-button:hover {
  text-decoration: underline;
}

.home-button img {
  margin-right: 20px;
}

.container {
  max-width: 1200px;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.box {
  position: relative;
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
  background: linear-gradient(135deg, #b9b6b6 0%, #e1dbdb 50%, #b9b6b6 100%);
  border: 2px solid #333;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding-bottom: 40px;
}

.box:hover {
  background-color: #2a2ac0;
}

.box:hover .country {
  text-decoration: underline;
}

.box-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background: linear-gradient(to top, #333, #444);
  color: #fff;
  display: flex;
  align-items: center;
}

.date {
  margin-left: auto;
}

.box img {
  width: 100%;
  height: auto;
  display: block;
}

.box-content img {
  width: 27px;
  height: 18px;
  margin-right: 10px;
}