* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #c5c5d3;
}

header {
  background-color: #445566;
  background: linear-gradient(135deg, #526375, #2c4054);
  border-bottom: 2px solid #2c3868;
  color: #fff;
  padding: 20px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img {
  width: 100px;
}

.login-button {
  background-color: #c7cdff;
  color: #445566;
  border: 2px solid #445566;
  padding: 20px 40px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #ccd1d9;
}

.login-button img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.login-home-button {
  background-color: #c7cdff;
  color: #445566;
  border: 2px solid #445566;
  padding: 20px 40px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-home-button:hover {
  background-color: #ccd1d9;
}

.login-home-button img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.user {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  text-decoration: none;
  font-size: 30px;
}

.user img {
  width: 60px;
  height: 60px;
  margin-left: 15px;
}

.home-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  text-decoration: none;
  font-size: 30px;
  color: white;
}

.home-button:hover {
  text-decoration: underline;
}

.home-button img {
  margin-right: 20px;
}

.container {
  max-width: 1200px;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.box {
  position: relative;
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
  background: linear-gradient(135deg, #b9b6b6 0%, #e1dbdb 50%, #b9b6b6 100%);
  border: 2px solid #333;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding-bottom: 40px;
}

.box:hover {
  background-color: #2a2ac0;
}

.box:hover .country {
  text-decoration: underline;
}

.box-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background: linear-gradient(to top, #333, #444);
  color: #fff;
  display: flex;
  align-items: center;
}

.date {
  margin-left: auto;
}

.box img {
  width: 100%;
  height: auto;
  display: block;
}

.box-content img {
  width: 27px;
  height: 18px;
  margin-right: 10px;
}

.login-container {
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
  margin-bottom: 20px;
}

.login-form {
  margin-bottom: 20px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.login-form input[type="submit"] {
  background-color: #445566;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-form input[type="submit"]:hover {
  background-color: #34495e;
}

.flash-message.error {
  color: red;
}

.track-map {
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  border: 2px solid #445566;
  background-color: #cfd8e3;
  border-radius: 10px;
  overflow: hidden;
}

.track-map img {
  width: 100%;
  display: block;
}

.track-map-caption {
  background-color: #445566;
  color: #fff;
  padding: 10px;
  text-align: center;
  display: flex;
  align-items: center;
}

.track-map-caption img {
    width: 27px;
    height: 18px;
    margin-right: 10px;
    display: block;
}

.content {
  width: 80%;
  border-top: 2px solid #445566;
  padding-top: 20px;
}

.content p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.sidebar {
  width: 30%;
  font-size: 24px;
  position: fixed;
  top: 25%;
  right: 0;
  transform: translateX(50%);
  background-color: #f5f5f5;
  padding: 30px;
  border-radius: 15px;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    position: static;
    transform: none;
    margin-top: 20px;
  }
}

.sidebar h3 {
  color: white;
  background-color: red;
  margin-top: 0;
  padding: 15px;
  border-radius: 8px;
}

.top-drivers {
  list-style: none;
  padding: 0;
}

.top-drivers li {
  background-color: #f5f5f5;
  color: #000;
  border-bottom: 1px solid #000;
  padding: 15px;
}

.top-drivers li:last-child {
  border-bottom: none;
}

