<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>F1 Tracks and Stats</title>
  <link rel="stylesheet" href="/static/format.css">
</head>
<body>

<header>
  <img src="/static/images/headerlogo.png" alt="Logo">
  <h1>F1 Tracks and Stats</h1>
</header>

<div class="container">
  <a href="/tracks/bahrain" class="box">
    <img src="/static/images/layouts/bahrain.avif" alt="Bahrain track">
    <div class="box-content">
      <img src="/static/images/flags/Flag_of_Bahrain.png" alt="Bahrain Flag">
      <span class="country">Bahrain</span>
      <span class="date">2nd March</span>
    </div>
  </a>
  
  <a href="/tracks/saudi-arabia" class="box">
    <img src="/static/images/layouts/saudi-arabia.png" alt="Saudi Arabia track">
    <div class="box-content">
      <img src="/static/images/flags/Flag_of_Saudi_Arabia.png" alt="Saudi Arabia Flag">
      <span class="country">Saudi Arabia</span>
      <span class="date">9th March</span>
    </div>
  </a>
  
  <a href="/tracks/australia" class="box">
    <img src="/static/images/layouts/australia.png" alt="Australia track">
    <div class="box-content">
      <img src="/static/images/flags/Flag_of_Australia.png" alt="Australia Flag">
      <span class="country">Australia</span>
      <span class="date">24th March</span>
    </div>
  </a>

  <a href="/tracks/japan" class="box">
    <img src="/static/images/layouts/japan.png" alt="Japan track">
    <div class="box-content">
      <img src="/static/images/flags/Flag_of_Japan.png" alt="Japan Flag">
      <span class="country">Japan</span>
      <span class="date">7th April</span>
    </div>
  </a>

  <a href="/tracks/china" class="box">
    <img src="/static/images/layouts/china.avif" alt="China track">
    <div class="box-content">
      <img src="/static/images/flags/Flag_of_China.png" alt="China Flag">
      <span class="country">China</span>
      <span class="date">21st April</span>
    </div>
  </a>

  <a href="/tracks/miami" class="box">
    <img src="/static/images/layouts/miami.png" alt="Miami track">
    <div class="box-content">
      <img src="/static/images/flags/Flag_of_USA.png" alt="USA Flag">
      <span class="country">Miami</span>
      <span class="date">5th May</span>
    </div>
  </a>

  <a href="/tracks/imola" class="box">
    <img src="/static/images/layouts/imola.png" alt="Imola track">
    <div class="box-content">
      <img src="/static/images/flags/Flag_of_Italy.png" alt="Italy Flag">
      <span class="country">Imola</span>
      <span class="date">19th May</span>
    </div>
  </a>

  <a href="/tracks/monaco" class="box">
    <img src="/static/images/layouts/monaco.avif" alt="Monaco track">
    <div class="box-content">
      <img src="/static/images/flags/Flag_of_Monaco.png" alt="Monaco Flag">
      <span class="country">Monaco</span>
      <span class="date">26th May</span>
    </div>
  </a>

  <a href="/tracks/canada" class="box">
    <img src="/static/images/layouts/canada.avif" alt="Canada track">
    <div class="box-content">
      <img src="/static/images/flags/Flag_of_Canada.png" alt="Canada Flag">
      <span class="country">Canada</span>
      <span class="date">9th June</span>
    </div>
  </a>

  <a href="/tracks/spain" class="box">
    <img src="/static/images/layouts/spain.avif" alt="Spain track">
    <div class="box-content">
      <img src="/static/images/flags/Flag_of_Spain.png" alt="Spain Flag">
      <span class="country">Spain</span>
      <span class="date">23rd June</span>
    </div>
  </a>

  <a href="/tracks/austria" class="box">
    <img src="/static/images/layouts/austria.avif" alt="Austria track">
    <div class="box-content">
      <img src="/static/images/flags/Flag_of_Austria.png" alt="Austria Flag">
      <span class="country">Austria</span>
      <span class="date">30th June</span>
    </div>
  </a>

  <a href="/tracks/uk" class="box">
    <img src="/static/images/layouts/uk.avif" alt="UK track">
    <div class="box-content">
      <img src="/static/images/flags/Flag_of_UK.png" alt="UK Flag">
      <span class="country">United Kingdom</span>
      <span class="date">7th July</span>
    </div>
  </a>

  <a href="/tracks/hungary" class="box">
    <img src="/static/images/layouts/hungary.avif" alt="Hungary track">
    <div class="box-content">
      <img src="/static/images/flags/Flag_of_Hungary.png" alt="Hungary Flag">
      <span class="country">Hungary</span>
      <span class="date">21st July</span>
    </div>
  </a>

  <a href="/tracks/belgium" class="box">
    <img src="/static/images/layouts/belgium.avif" alt="Belgium track">
    <div class="box-content">
      <img src="/static/images/flags/Flag_of_Belgium.png" alt="Belgium Flag">
      <span class="country">Belgium</span>
      <span class="date">28th July</span>
    </div>
  </a>

  <a href="/tracks/netherlands" class="box">
    <img src="/static/images/layouts/netherlands.avif" alt="Netherlands track">
    <div class="box-content">
      <img src="/static/images/flags/Flag_of_Netherlands.png" alt="Netherlands Flag">
      <span class="country">Netherlands</span>
      <span class="date">25th August</span>
    </div>
  </a>

  <a href="/tracks/italy" class="box">
    <img src="/static/images/layouts/italy.avif" alt="Italy track">
    <div class="box-content">
      <img src="/static/images/flags/Flag_of_Italy.png" alt="Italy Flag">
      <span class="country">Italy</span>
      <span class="date">1st September</span>
    </div>
  </a>

  <a href="/tracks/azerbaijan" class="box">
    <img src="/static/images/layouts/azerbaijan.avif" alt="Azerbaijan track">
    <div class="box-content">
      <img src="/static/images/flags/Flag_of_Azerbaijan.png" alt="Azerbaijan Flag">
      <span class="country">Azerbaijan</span>
      <span class="date">15th September</span>
    </div>
  </a>

  <a href="/tracks/singapore" class="box">
    <img src="/static/images/layouts/singapore.avif" alt="Singapore track">
    <div class="box-content">
      <img src="/static/images/flags/Flag_of_Singapore.png" alt="Singapore Flag">
      <span class="country">Singapore</span>
      <span class="date">22nd September</span>
    </div>
  </a>

  <a href="/tracks/usa" class="box">
    <img src="/static/images/layouts/usa.avif" alt="USA track">
    <div class="box-content">
      <img src="/static/images/flags/Flag_of_USA.png" alt="USA Flag">
      <span class="country">United States</span>
      <span class="date">20th October</span>
    </div>
  </a>

  <a href="/tracks/mexico" class="box">
    <img src="/static/images/layouts/mexico.avif" alt="Mexico track">
    <div class="box-content">
      <img src="/static/images/flags/Flag_of_Mexico.png" alt="Mexico Flag">
      <span class="country">Mexico</span>
      <span class="date">27th October</span>
    </div>
  </a>

  <a href="/tracks/brazil" class="box">
    <img src="/static/images/layouts/brazil.avif" alt="Brazil track">
    <div class="box-content">
      <img src="/static/images/flags/Flag_of_Brazil.png" alt="Brazil Flag">
      <span class="country">Brazil</span>
      <span class="date">3rd November</span>
    </div>
  </a>

  <a href="/tracks/las-vegas" class="box">
    <img src="/static/images/layouts/las-vegas.avif" alt="Las Vegas track">
    <div class="box-content">
      <img src="/static/images/flags/Flag_of_USA.png" alt="USA Flag">
      <span class="country">Las Vegas</span>
      <span class="date">23rd November</span>
    </div>
  </a>

  <a href="/tracks/qatar" class="box">
    <img src="/static/images/layouts/qatar.avif" alt="Qatar track">
    <div class="box-content">
      <img src="/static/images/flags/Flag_of_Qatar.png" alt="Qatar Flag">
      <span class="country">Qatar</span>
      <span class="date">1st December</span>
    </div>
  </a>

  <a href="/tracks/uae" class="box">
    <img src="/static/images/layouts/uae.avif" alt="UAE track">
    <div class="box-content">
      <img src="/static/images/flags/Flag_of_UAE.png" alt="UAE Flag">
      <span class="country">Abu Dhabi</span>
      <span class="date">8th December</span>
    </div>
  </a>

</div>

</body>
</html>