<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login - F1 Tracks and Stats</title>
  <link rel="stylesheet" href="/static/format.css">
</head>
<body>

<header>
  <img src="/static/images/headerlogo.png" alt="Logo">
  <h1>F1 Tracks and Stats</h1>
  <a href="/" class="login-home-button"><img src="/static/images/home.png" alt="Login">Home</a>
</header>

<div class="login-container">
  <h2>Login</h2>
  <form class="login-form" action="/login" method="post">
    <input type="text" name="username" placeholder="Username" required>
    <input type="password" name="password" placeholder="Password" required>
    <input type="submit" value="Login">
  </form>
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="flash-message {{ category }}">{{ message }}</div>
      {% endfor %}
    {% endif %}
  {% endwith %}
</div>
</body>
</html>