<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{{ track_display_name }} - F1 Tracks and Stats</title>
  <link rel="stylesheet" href="/static/track.css"/>

  <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
</head>

<body data-round="{{ round_number }}">

<header>
  <div class="logo-title">
    <img src="/static/images/headerlogo.png" alt="Logo">
    <h1>F1 Tracks and Stats</h1>
  </div>
  <a href="/" class="home-button">Home</a>
</header>

<main>
  <section class="track-map">
    <img src="{{ annotated_layout_path }}" alt="{{ track_display_name }} track">
    <div class="track-map-caption">
      <img src="{{ flag_path }}" alt="{{ track_display_name }} Flag">
      <span>{{ track_display_name }} Track Map</span>
    </div>
  </section>

  <section class="predictions-grid">
    <div class="pred-box driver-strength">
      <h3>Driver Strength</h3>
      <div class="spinner"></div>
      <ul class="strength-list driver-list"></ul>
    </div>
    <div class="pred-box top-drivers">
      <h3>Predicted GP Winner</h3>
      <div class="spinner"></div>
      <ul class="strength-list gp-results"></ul>
    </div>
    <div class="pred-box constructor-strength">
      <h3>Constructor Strength</h3>
      <div class="spinner"></div>
      <ul class="strength-list constructor-list"></ul>
    </div>
  </section>
</main>

<script src="{{ script_path }}"></script>
</body>
</html>